@require 'app/styles/charte.styl'
*
  box-sizing: border-box
  font-family: 'Montserrat', sans-serif;

html 
  overflow: hidden  
#app
  width: 100%
  display: flex;
  min-height: 100vh
  height: 100vh
  overflow: hidden
  font-family: 'Source Sans Pro', sans-serif;
::-webkit-scrollbar
  width: 7px
::-webkit-scrollbar-track
  // box-shadow: inset 0 0 5px orange
  border-radius: 10px
::-webkit-scrollbar-thumb
  background: grey
  border-radius: 10px
