.message
  margin: auto
  max-width: 100%
  color: #3a3c41
  display: flex
  padding: 1rem
  line-height: 1.3
  &-date
    color: grey
    font-style: italic
    font-weight: normal
  &-author
    font-weight: bold
  &-author-thumbnail
    margin-right: .2rem
    & img
      width: 40px
      height: auto
  &-container
    display: flex;
    flex-wrap: wrap
    flex-direction: column

.bold
  font-weight: bold
.italic
  font-style: italic
.notify
  color: blue
  cursor: pointer
.tbq
  color: #333333
  padding: .2rem
  background-color: #f9f9f9
  border: 1px solid #d4d4d4
  border-radius: 5px
.sbq
  background-color: #f7f7f9
  padding: .1rem
  color: #d72b3f
  border: 1px solid #e1e1e8
  border-radius: 5px
.external-link
  color: blue
  &:hover
    text-decoration: underline
