#login-form
  margin: auto
  width: 50%
  text-align: center
  @media screen and (min-width: 1200px)
    width: 30%
.default-input
  width: 100%
  margin: .5rem auto 0 auto
  display: block
  padding: .5rem 1.5rem
.default-label
  text-align: left
  margin: .5rem auto 0 auto
  display: block
.default-button
  margin-top: 1rem
  padding: .5rem 1.5rem
  width: 100%
  color: white
  background-color: #261c25
  border: none



