.channel-info
  padding: 1.5rem 1rem
  width: 100%
  border-bottom: 1px solid #ccc
  display: flex
  align-items: center
  flex-direction: row
  &-name
    font-size: 2rem
    font-weight: bold
    color: #3a3c41
  &-counter
    color: #3a3c41
    margin-left: .5rem
    & span
      padding-left: .2rem
  &-actions
    margin-left: auto
    display: flex
    font-size: 1.2rem
    color: #3a3c41
    & svg
      cursor: pointer
