.channel-details

  border-left: 1px solid lightgrey
  height: 100vh
  min-width: 100%
  font-size: 1.2rem
  background-color: white
  &--visible
    display: block
  &--hidden
    display: none
  & .pinned-items
    & .message
      background-color: #fffae5
  @media screen and (min-width: 1200px)
    width: 40%
    min-width: 40%

