.user-small
  display: flex
  flex-direction: row
  align-items: center
  border: 1px solid transparent
  padding: .2rem
  &-picture
    border-radius: 5px
    width: 25px
    height: 25px
  &-name
    padding-left: .5rem
  &:hover
    background-color: rgba(#05fbe2, 0.1)
    border: 1px solid rgba(#05fbe2, 0.1)
    cursor:pointer


